/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Helvetica"), url(/fonts/Helvetica.ttf) format("ttf");
}
@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(/fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: medium;
  font-style: normal;
}
/* Global Style */
* {
  font-family: 'Roboto';
  font-weight: 400;
}
.font-helvetica {
  font-family: "Helvetica"
}
.font-robotoslab {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}
.font-roboto-medium {
  font-family: 'Roboto-Medium';
  font-style: medium;
  font-weight: 500
}
/* React Carousel */
.rec.rec-arrow {
  outline: none;
  border: none;
  color: #317c9e;
  background: none;
  box-shadow: none;
}
.rec.rec-arrow:hover:enabled {
  outline: none;
  border: none;
  color: white;
  background-color: #317c9e;
  box-shadow: none;
}
.background-nav {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #113c6d;
  mix-blend-mode: normal;
  opacity: 0.9;
  backdrop-filter: blur(8px);
  border-radius: 5px 5px 5px 5px;
}
.gradient-bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #113c6d;
}
